body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 150px auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    margin-bottom: 50px;
}

.stripe_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    letter-spacing: 5px;
}

.titles {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 700px){
    .titles {
        flex-direction: column;
    }
}

.titles  span {
    width: 30%;
    padding: 10px 0;
    text-align: center;
    color: rgb(82, 0, 0);
    background-color: white;
    letter-spacing: 1px;
}

@media only screen and (max-width: 700px){
    .titles  span {
        letter-spacing: 0;
        font-size: .9rem;
        margin-bottom: 15px;
        width: 227px;
    }
}

.btnBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 20px;
}

@media only screen and (max-width: 700px){
    .btnBox {
        flex-direction: column;
    }
}

.checkout_btn {
    width: 30%;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    transition: .2s ease-in-out;
}

@media only screen and (max-width: 700px){
    .checkout_btn {
        min-width: 227px;
    }
}

.checkout_btn:hover {
 border:1px solid  red;
 color:red;
}